doctype html
html#html-404(lang='en')
  head.head-404
    meta.meta-404(charset='UTF-8')
    meta.meta-404(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title 404 - Page not found!
  body